@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.card-front, .card-back {
    font-family: 'Permanent Marker', cursive; /* Applying the font */
    color: white; /* Assuming a chalkboard effect */
}


.card {
    width: 100%;
    max-width: 450px;
    height: 300px;
    perspective: 1000px;
    border: 5px solid #ccc;
    border-radius: 20px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover .card-inner, .card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #ccc;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(59, 161, 80, 0.2);
    background: white;
    padding: 20px;
}

.card-front {
    background: #8908ad;
    color: white;
}

.card-back {
    background: navy;
    color: white;
    transform: rotateY(180deg);
}

.card-title {
    font-size: 4rem;
    font-weight: 700;
}

.card-text {
    font-size: 4rem;
}

.languages {
    font-size: 1.0rem;
    margin-bottom: 20px;
    text-decoration: underline;
}

.btn {
    width: 150px;
}
